*{
	padding: 0px;
	margin: 0px;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	position: absolute;
}

.header {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid black;
}

.logo {
	float: left;
	border: 1px solid red;
}

.outermobilemenu {
	position: relative;
	overflow: hidden;
}

.mobilemenu {
	position: absolute;
	width: 100px;
	height: 100px;
	right: -10px;
	background-color: red;
	list-style: none;
	text-align: center;
}

.mobile_headeropt {
}

.menu {
	display: none;
}

.about {
	height: 100%;
	width: 100%;
}

.projects {
	height: 100%;
	width: 100%;
}

.testimonies {
	height: 100%;
	width: 100%;
}