* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	
}

.header {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid white;
	background-color: black;
}

.logo {
	float: left;
	height: 80px;
}

.outermobilemenu {
	position: relative;
	overflow: hidden;
}

.mobilemenu {
	position: relative;
	width: 100px;
	height: 100px;
	left: -10px;
	border: 1px solid red;
	list-style: none;
	text-align: center;
}

.mobile_headeropt {
}

.container {
	text-align: center;
	height: 100%;
	width: 100%;
}

.menu {
	display: none;
}

.about {
	height: 100%;
	width: 100%;
	position: relative;
}

.about_summary {
	width: 100%;
	font-size: 30px;
	line-height: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 0.5em;
}

.team {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	border: 1px solid red;
}

.darc {
	width: 500px;
	/*border: 1px solid red;*/
}

.george {
	width: 500px;
	/*border: 1px solid red;*/
}

.projects {
	height: 100%;
	width: 100%;
}

.testimonies {
	height: 100%;
	width: 100%;
}

h2 {
	font-family: Raleway;
}